@font-face {
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-extjs-beta-left:before {
	content: "\61";
}

.icon-extjs-beta-right:before {
	content: "\62";
}

.icon-extjs-trial-left:before {
	content: "\63";
}

.icon-extjs-trial-right:before {
	content: "\64";
}

.icon-sencha-extjs-beta-left-2:before {
	content: "\65";
}

.icon-sencha-extjs-beta-left-3:before {
	content: "\66";
}

.icon-sencha-extjs-beta-right-2:before {
	content: "\67";
}

.icon-sencha-extjs-beta-right-3:before {
	content: "\68";
}

.icon-sencha-extjs-trial-left-2:before {
	content: "\69";
}

.icon-sencha-extjs-trial-left-3:before {
	content: "\6a";
}

.icon-sencha-extjs-trial-right-2:before {
	content: "\6b";
}

.icon-sencha-extjs-trial-right-3:before {
	content: "\6c";
}

