@if $ext-trial or $ext-beta {
  @font-face {
    font-weight: normal;
    font-style: normal;
  }
}

@if $ext-trial {
  #ext-viewport:after {
    text-shadow: 1px 1px #fff;
    font-size: 2em;
    content: ' ';
    position: absolute;
    bottom: .5em;
    right: .5em;
    opacity: .5;
    pointer-events: none;
  }
}

@if $ext-beta {
  #ext-viewport:after {
    text-shadow: 1px 1px #fff;
    font-size: 2em;
    content: 'b';
    position: absolute;
    bottom: .5em;
    right: .5em;
    opacity: .5;
    pointer-events: none;
  }
}

#ext-viewport {
  margin: 0;

  @if $enable-font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


